/*
    Andrew J. Tieszen
    styles.css
    10 October 2024
*/

/* CSS Reset */
body, header, nav, main, footer, h1, img, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #3F5C7F;
}

img {
    max-width: 100%;
    display: block;
}

header {
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
}

header h1 {
    font-size: 3.5em;
    padding-top: 1.0em;
}

header h2 {
    font-size: 1.25em;
    padding-bottom: 1.0em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}
nav ul li {
    display: inline-block;
    font-size: 1.2em;
    border-right: 1px solid #fff;
}

nav ul li:last-child {
    border-right: 0px;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

main {
    clear: left;
    background-color: #fff;
    padding: 2%;
    font-size: 1.2em;
}

footer{
    clear: both;
}

.end-of-columns {
    clear: left;
}

#profile {
    max-width: 20%;
    margin: 1em 0 0 1em;
}

#profile {
    float: left;
    padding: 0 1em 1em 0;
}

#logo {
    float: right;
    padding: 0 0 1em 1em;
}

#title {
    text-align: center;
    display: block;
    padding: 0 10px 0 10px;
}

#bio, #highlight {
    float: left;
    width: 48%;
    display: block;
    padding: 0 1em 0 0;
}